
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  width: 100%;
  min-height: 100vh;
}
